// Drawing mixins

// generic drawing of more complex things

@function _widget_edge($c:$borders_edge) {
// outer highlight "used" on most widgets
  @if $c == none { @return none; }
  @else { @return 0 1px $c; }
}

@mixin _shadows($list...) {
//
// Helper mixin to stack up to box-shadows;
//
  $shadows: null;

  @each $shadow in $list {
    @if $shadow!=none { $shadows: $shadows, $shadow; }
  }

  box-shadow: $shadows;
}

// entries
@function entry_focus_border($fc:$selected_bg_color) {
@return $fc;
}

@function entry_focus_shadow($fc:$selected_bg_color) { @return inset 0 0 0 1px $fc; }

@mixin entry($t, $fc:$selected_bg_color, $edge: none) {
//
// Entries drawing function
//
// $t: entry type
// $fc: focus color
// $edge: set to none to not draw the bottom edge or specify a color to not
//        use the default one
//
// possible $t values:
// normal, focus, insensitive, osd, osd-focus;
//

  $_blank_edge: if($edge == none, none, 0 1px transparentize($edge, 1));
  $_entry_edge: if($edge == none, none, _widget_edge($edge));

  @if $t==normal {
    color: $text_color;
    border-color: $borders_color;
    background-color: $base_color;
    box-shadow: inset 0 1px rgb(79,83,85),
                inset 0 -1px rgb(79,83,85),
                inset 1px 0 rgb(79,83,85),
                inset -1px 0px rgb(79,83,85);
    // for the transition to work the number of shadows in different states needs to match, hence the transparent shadow here.
  }

  @if $t==focus {
    box-shadow: inset 0 1px rgb(0,186,255),
                inset 0 -1px rgb(0,186,255),
                inset 1px 0 rgb(0,186,255),
                inset -1px 0px rgb(0,186,255);
    border-color: $borders_color;
  }
  @if $t==insensitive {
    color: $insensitive_fg_color;
    border-color: $borders_color;
    background-color: $insensitive_bg_color;
    box-shadow: $_entry_edge;
  }

  @if $t==osd {
    color: $osd_text_color;
    border-color: $osd_borders_color;
    background-color: transparentize(opacify($osd_borders_color, 1), 0.5);
    background-clip: padding-box;
    box-shadow: none;
    text-shadow: 0 1px black;
    -gtk-icon-shadow: 0 1px black;
  }
  @if $t==osd-focus {
    color: $osd_text_color;
    border-color: $selected_bg_color;
    background-color: transparentize(opacify($osd_borders_color, 1), 0.5);
    background-clip: padding-box;
    box-shadow: entry_focus_shadow($fc);
    text-shadow: 0 1px black;
    -gtk-icon-shadow: 0 1px black;
  }
  @if $t==osd-insensitive {
    color: $osd_insensitive_fg_color;
    border-color: $osd_borders_color;
    background-color: $osd_insensitive_bg_color;
    background-clip: padding-box;
    box-shadow: none;
    text-shadow: none;
    -gtk-icon-shadow: none;
  }
 
}

// buttons

@function _border_color($c, $darker: false) {
  @if $darker == true { @return darken($c, 20%); }
  @else { @return darken($c, 10%); }
}

@function _text_shadow_color ($tc: $fg_color, $bg: $bg_color) {
//
// calculate the color of text shadows
//
// $tc is the text color
// $bg is the background color
//
  $_lbg: lightness($bg)/100%;
  @if lightness($tc)<50% { @return transparentize(white, 1-$_lbg/($_lbg*1.3)); }
  @else { @return transparentize(black, $_lbg*0.8); }
}

@function _button_hilight_color($c) {
//
// calculate the right top hilight color for buttons
//
// $c: base color;
//
  @if lightness($c)>95% { @return white; }
  @else if lightness($c)>90% { @return transparentize(white, 0.2); }
  @else if lightness($c)>80% { @return transparentize(white, 0.5); }
  @else if lightness($c)>50% { @return transparentize(white, 0.8); }
  @else if lightness($c)>40% { @return transparentize(white, 0.9); }
  @else { @return transparentize(white, 0.98); }
}

@mixin _button_text_shadow ($tc:$fg_color, $bg:$bg_color) {
//
// helper function for the text emboss effect
//
// $tc is the optional text color, not the shadow color
//
// TODO: this functions needs a way to deal with special cases
//

  $_shadow: _text_shadow_color($tc, $bg);

  @if lightness($tc)<50% {
    text-shadow: 0 1px $_shadow;
    -gtk-icon-shadow: 0 1px $_shadow;
  }
  @else {
    text-shadow: 0 -1px $_shadow;
    -gtk-icon-shadow: 0 -1px $_shadow;
  }
}

@mixin button($t, $c:$bg_color, $tc:$fg_color, $edge: none) {
//
// Button drawing function
//
// $t:    button type,
// $c:    base button color for colored* types
// $tc:   optional text color for colored* types
// $edge: set to none to not draw the bottom edge or specify a color to not
//        use the default one
//
// possible $t values:
// normal, hover, active, insensitive, insensitive-active,
// osd, osd-hover, osd-active, osd-insensitive,undecorated
//
// This mixin sets the $button_fill global variable which containts the button background-image
//
  $_hilight_color: _button_hilight_color($c);
  $_button_edge: if($edge == none, none, _widget_edge($edge));
  $_blank_edge: if($edge == none, none, _widget_edge(transparentize($edge,1)));
  $_button_shadow: 0 1px 2px transparentize($shadow_color, 0.03);

  @if $t==normal {
  //
  // normal button
  //
    color: $fg_color;
    outline-color: transparentize($tc, 0.7);
    border-color: rgb(27,31,33)  ;
   // border-bottom-color: if($c != $bg_color, _border_color($c, true), $alt_borders_color);
   box-shadow: inset 0 1px rgb(79,83,85),
                inset 0 -1px rgb(79,83,85),
                inset 1px 0 rgb(79,83,85),
                inset -1px 0px rgb(79,83,85);
    background-image: linear-gradient(to bottom, 
rgb(79,83,85) ,
rgb(66,70,72) 10%,
rgb(64,68,70) 15%,
rgb(61,65,67) 20%,
rgb(57,61,63) 25%,
rgb(53,57,59) 30%,
rgb(49,53,55) 35%,
rgb(47,51,53) 40%,
rgb(42,46,48) 45%,
rgb(36,40,42) 50%,
rgb(32,36,38) 55%,
rgb(32,36,38) 60%,
rgb(30,34,36) 65%,
rgb(29,33,35) 70%,
rgb(28,32,34) 75%,
rgb(29,33,35) 80%,
rgb(31,35,37) 85%,
rgb(32,36,38) 90%,
rgb(32,36,38) 95%);
    @include _button_text_shadow($tc, $c);
  }

  @else if $t==hover {
  //
  // hovered button
  //
    color: $tc;
    outline-color: transparentize($tc, 0.7);
    border-color:  rgb(27,31,33);
   // border-bottom-color: if($c != $bg_color, _border_color($c, true), $alt_borders_color);
    background-image: linear-gradient(to bottom, 
rgb(66,70,72) ,
rgb(64,68,70) 10.53%,
rgb(61,65,67) 15.79%,
rgb(57,61,63) 21.05%,
rgb(53,57,59) 26.32%,
rgb(49,53,55) 31.58%,
rgb(47,51,53) 36.84%,
rgb(42,46,48) 42.11%,
rgb(36,40,42) 47.37%,
rgb(32,36,38) 52.63%,
rgb(32,36,38) 57.89%,
rgb(30,34,36) 63.16%,
rgb(29,33,35) 68.42%,
rgb(28,32,34) 73.68%,
rgb(29,33,35) 78.95%,
rgb(31,35,37) 84.21%,
rgb(32,36,38) 89.47%,
rgb(32,36,38)  100%);

      @include _button_text_shadow($tc, lighten($c, 6%));
      box-shadow: inset 0 1px rgb(0,186,255),
                inset 0 -1px rgb(0,186,255),
                inset 1px 0 rgb(0,186,255),
                inset -1px 0px rgb(0,186,255);
    
  }

  @if $t==normal-alt {
  //
  // normal button alternative look
  //
    color: $tc;
    outline-color: transparentize($tc, 0.7);
    border-color: if($c != $bg_color, _border_color($c, true), $alt_borders_color);
    @include _button_text_shadow($tc, $c);
      background-image: linear-gradient(to bottom, lighten($c, 5%) 20%, $c 90%);
       @include _shadows(inset 0 1px _button_hilight_color(lighten($c, 6%)),
                        $_button_edge, $_button_shadow);
  }

  @else if $t==hover-alt {
  //
  // hovered button alternative look
  //
    color: $tc;
    outline-color: transparentize($tc, 0.7);
    border-color: if($c != $bg_color, _border_color($c, true), $alt_borders_color);
      $button_fill: linear-gradient(to bottom, lighten($c, 9%) 10%, lighten($c, 4%) 90%) !global;
      @include _shadows(inset 0 1px _button_hilight_color(lighten($c, 6%)),
                        $_button_edge, $_button_shadow);
    background-image: $button_fill;
  }

  @else if $t==active {
  //
  // pushed button
  //
    color: $fg_color;
    outline-color: transparentize($tc, 0.7);
    border-color: $borders_color;
    background-image: linear-gradient(to bottom, 
rgb(55,59,61) 5%,
rgb(31,35,37) 10%,
rgb(32,36,38) 15%,
rgb(33,37,39) 20%,
rgb(34,38,40) 25%,
rgb(35,39,41) 30%,
rgb(36,40,42) 35%,
rgb(38,42,44) 40%,
rgb(41,45,47) 45%,
rgb(43,47,49) 50%,
rgb(44,48,50) 55%,
rgb(46,50,52) 60%,
rgb(48,52,54) 65%,
rgb(49,53,55) 70%,
rgb(51,55,57) 75%,
rgb(52,56,58) 80%,
rgb(55,59,61) 85%,
rgb(56,60,62) 90%,
rgb(55,59,61) );
    @include _shadows(inset 0 1px transparentize($_hilight_color, 1), $_button_edge);

    text-shadow: none;
    -gtk-icon-shadow: none;
    box-shadow: inset 0 1px  rgb(79,83,85),
                inset 0 -1px  rgb(79,83,85),
                inset 1px 0  rgb(79,83,85),
                inset -1px 0px  rgb(79,83,85);
  }

  @else if $t==insensitive {
  //
  // insensitive button
  //
    $_bg: if($c != $bg_color, mix($c, $base_color, 85%), $insensitive_bg_color);

    color: if($tc != $fg_color, mix($tc, $_bg, 50%), $insensitive_fg_color);
    border-color: if($c != $bg_color, _border_color($c), $insensitive_borders_color);
    $button_fill: linear-gradient(to bottom, $button_insensitive_gradient_a, $button_insensitive_gradient_c) !global;
    background-image: $button_fill;
    text-shadow: none;
    -gtk-icon-shadow: none;
    // white with 0 alpha to avoid an ugly transition, since no color means
    // black with 0 alpha
    @include _shadows(inset 0 1px transparentize(white, 1), $_button_edge);
  }

  @else if $t==insensitive-active {
  //
  // insensitive pushed button
  //
    $_bg: darken(mix($c, $base_color, 85%), 8%);
    $_bc: if($c != $bg_color, _border_color($c), $insensitive_borders_color);

    color: if($c != $bg_color, mix($tc, $_bg, 60%), $insensitive_fg_color);
    border-color: $_bc;
    $button_fill: image($_bg) !global;
    background-image: $button_fill;
    // white with 0 alpha to avoid an ugly transition, since no color means
    // black with 0 alpha
    @include _shadows(inset 0 1px transparentize(white, 1), $_button_edge);
  }

  @else if $t==osd {
  //
  // normal osd button
  //
    $_bg: if($c != $bg_color, transparentize($c, 0.5), $osd_bg_color);

    color: $osd_fg_color;
    border-color: $osd_borders_color;
    background-color: transparent;
    $button_fill: image($_bg) !global;
    background-image: $button_fill;
    background-clip: padding-box;
    box-shadow: inset 0 1px transparentize(white, 0.9);
    text-shadow: 0 1px black;
    -gtk-icon-shadow: 0 1px black;
    outline-color: transparentize($osd_fg_color, 0.7);
  }

  @else if $t==osd-hover {
  //
  // active osd button
  //
    $_bg: if($c != $bg_color, transparentize($c, 0.3), lighten($osd_bg_color, 12%));

    color: white;
    border-color: $osd_borders_color;
    background-color: transparent;
    $button_fill: image($_bg) !global;
    background-image: $button_fill;
    background-clip: padding-box;
    box-shadow: inset 0 1px transparentize(white, 0.9);
    text-shadow: 0 1px black;
    -gtk-icon-shadow: 0 1px black;
    outline-color: transparentize($osd_fg_color, 0.7);
  }

  @else if $t==osd-active {
  //
  // active osd button
  //
    $_bg: if($c != $bg_color, $c, $osd_borders_color);

    color: white;
    border-color: $osd_borders_color;
    background-color: transparent;
    $button_fill: image($_bg) !global;
    background-image: $button_fill;
    background-clip: padding-box;
    box-shadow: none;
    text-shadow: none;
    -gtk-icon-shadow: none;
    outline-color: transparentize($osd_fg_color, 0.7);
  }

  @else if $t==osd-insensitive {
  //
  // insensitive osd button
  //
    color: $osd_insensitive_fg_color;
    border-color: $osd_borders_color;
    background-color: transparent;
    $button_fill: image($osd_insensitive_bg_color) !global;
    background-image: $button_fill;
    background-clip: padding-box;
    box-shadow: none;
    text-shadow: none;
    -gtk-icon-shadow: none;
  }

  @else if $t==undecorated {
  //
  // reset
  //
    border-color: transparent;
    background-color: transparent;
    $button_fill: none !global;
    background-image: $button_fill;

    @include _shadows(inset 0 1px transparentize(white, 1), $_blank_edge);

    text-shadow: none;
    -gtk-icon-shadow: none;
  }
}

@mixin headerbar_fill($c:$headerbar_color, $hc:$top_hilight, $ov: none) {
//
// headerbar fill
//
// $c:  base color
// $hc: top highlight color
// $ov: a background layer for background shorthand (hence no commas!)
//
  
  box-shadow: inset 0 1px $hc; // top highlight
}

@mixin overshoot($p, $t:normal, $c:$fg_color) {
//
// overshoot
//
// $p: position
// $t: type
// $c: base color
//
// possible $p values:
// top, bottom, right, left
//
// possible $t values:
// normal
//

  $_small_gradient_length: 5%;
  $_big_gradient_length: 100%;

  $_position: center top;
  $_small_gradient_size: 100% $_small_gradient_length;
  $_big_gradient_size: 100% $_big_gradient_length;

  @if $p==bottom {
    $_position: center bottom;
    $_linear_gradient_direction: to top;
  }

  @else if $p==right {
    $_position: right center;
    $_small_gradient_size: $_small_gradient_length 100%;
    $_big_gradient_size: $_big_gradient_length 100%;
  }

  @else if $p==left {
    $_position: left center;
    $_small_gradient_size: $_small_gradient_length 100%;
    $_big_gradient_size: $_big_gradient_length 100%;
  }

  $_small_gradient_color: $c;
  $_big_gradient_color: $c;

  @if $c==$fg_color {
    $_small_gradient_color: darken($borders_color, 10%);
    $_big_gradient_color: $fg_color;

  }

  $_small_gradient: -gtk-gradient(radial,
                                  $_position, 0,
                                  $_position, 0.5,
                                  to($_small_gradient_color),
                                  to(transparentize($_small_gradient_color, 1)));

  $_big_gradient: -gtk-gradient(radial,
                                $_position, 0,
                                $_position, 0.6,
                                from(transparentize($_big_gradient_color, 0.93)),
                                to(transparentize($_big_gradient_color, 1)));

  @if $t==normal {
    background-image: $_small_gradient, $_big_gradient;
    background-size: $_small_gradient_size, $_big_gradient_size;
  }

  background-repeat: no-repeat;
  background-position: $_position;

  background-color: transparent; // reset some properties to be sure to not inherit them somehow
  border: none;                  //
  box-shadow: none;              //
}

/***************************
 * Check and Radio buttons *
 ***************************/

 @mixin check($t, $c:$bg_color, $tc:$fg_color, $checked: false) {
  // Check/Radio drawing function
  //
  // $t:        check/radio type,
  // $c:        base button color for colored* types
  // $tc:       optional text color for colored* types
  // $checked:  bool to chose between checked/unchecked
  //
  // possible $t values:
  // normal, hover, active, insensitive,

  $_border_color: if($c==$checkradio_bg_color, $c, $alt_borders_color);
  $_dim_border_color: transparentize($_border_color,  0.3);

  @if $t==normal  {
    background-clip: if($checked, border-box, padding-box);
    background-image: linear-gradient(to bottom, 
rgb(36,40,42) 0%,
rgb(39,43,45) 12.5%,
rgb(42,46,48) 25%,
rgb(46,51,53) 37.5%,
rgb(49,55,57) 50%,
rgb(54,59,62) 62.5%,
rgb(58,63,66) 75%,
rgb(61,67,70) 87.5%,
rgb(63,70,73) 100%);

    border-color: $borders_color;
    border-width:1px;
    border-style: solid;
    box-shadow: inset 0 1px  rgb(79,83,85),
                inset 0 -1px  rgb(79,83,85),
                inset 1px 0  rgb(79,83,85),
                inset -1px 0px  rgb(79,83,85);
    color: #fff;
  }

  @if $t==hover {
    background-color: white;
     box-shadow: inset 0 1px rgb(0,186,255),
                inset 0 -1px rgb(0,186,255),
                inset 1px 0 rgb(0,186,255),
                inset -1px 0px rgb(0,186,255);
  }

  @if $t==active {
        background-color: white;
         box-shadow: inset 0 1px rgb(0,186,255),
                inset 0 -1px rgb(0,186,255),
                inset 1px 0 rgb(0,186,255),
                inset -1px 0px rgb(0,186,255);

  }

  @if $t==insensitive {
    box-shadow: none;
    color: $borders_color;
    background-image: linear-gradient(to bottom, 
rgb(62,67,70) 0%,
rgb(64,69,72) 12.5%,
rgb(66,71,73) 25%,
rgb(68,74,76) 37.5%,
rgb(70,76,79) 50%,
rgb(73,78,82) 62.5%,
rgb(75,81,84) 75%,
rgb(77,83,87) 87.5%,
rgb(79,86,89) 100%);
         border-color: $borders_color;

  }

}

