/***************
 * Mate-Panel *
 ***************/

$panel: #3db0f6;
$panel_fg: #ffffff;
$panel_bg: #235cdb;
$panel_border: $borders_color;
$panel_hc: transparentize($panel_fg, 0.7);
$panel_bg_button: mix(rgba(0,0,0,0.3), $panel, 80%);
$panel_menubar_hover: #000000;


PanelToplevel > *:not(menu):not(menuitem):not(button):not(menubar) {
	border-style: solid;
	border-color: $borders_color;
    border-width: 1px;
    border-bottom-width: 0px;
    box-shadow: inset 0 7px darken($borders_color, 5%), inset 0 5px #2e3235, inset 0 1px black, inset 0 -7px darken($borders_color, 5%), inset 0 -5px #2e3235, inset 0 -1px black;
  // box-shadow:  inset 0 4px #286add, inset 0 3px #307be5, inset 0 1px #3888e9, inset 0 -3px #235bd9, inset 0 -2px #1e50c4, inset 0 -1px #1941a5;
}

/* first make all transparent */
.mate-panel-menu-bar,
.mate-panel-menu-bar menubar,
.mate-panel-menu-bar menuitem,
#PanelPlug,
#PanelApplet button,
PanelToplevel.background,
#PanelApplet-window-menu-applet-button {
    background-color: transparent;
    background-image: none;
    background-color: transparent;
    box-shadow: none;
    border-color: $panel_border;
}

.mate-panel-menu-bar menubar:not(menu) > menuitem {
	color: $panel_fg;
}

.mate-panel-menu-bar menubar:not(menu) > menuitem:hover {
	color: $panel_menubar_hover;
}


/* let's start it */
#PanelPlug,
.mate-panel-menu-bar,
PanelToplevel.background {
    background-color: $borders_color;
    background-image: none;
    /* normal panel */
    /* transparent panel */
/*    color: @theme_selected_fg_color; */
    text-shadow: none;
        box-shadow: inset 0 7px darken($borders_color, 2%), inset 0 5px #2e3235, inset 0 1px black, inset 0 -7px darken($borders_color, 2%), inset 0 -5px #2e3235, inset 0 -1px black;
  //  box-shadow:  inset 0 4px #286add, inset 0 3px #307be5, inset 0 1px #3888e9, inset 0 -3px #235bd9, inset 0 -2px #1e50c4, inset 0 -1px #1941a5;

}

#PanelApplet {
    border-width: 1px;
  border-style: solid;
}

PanelSeparator {
    border-width: 0;
    background-image: none;
    text-shadow: none;
}

/* all applets */
.mate-panel-menu-bar #PanelApplet button {
    &,
    &.flat,
    &.toggle,
    &.flat.toggle {
    background-image: linear-gradient(to bottom, 
rgb(32,35,37) 0%,
rgb(33,37,39) 5.88%,
rgb(35,39,41) 11.76%,
rgb(38,41,44) 17.65%,
rgb(40,44,47) 23.53%,
rgb(43,47,50) 29.41%,
rgb(45,50,53) 35.29%,
rgb(48,53,56) 41.18%,
rgb(50,55,58) 47.06%,
rgb(12,14,16) 52.94%,
rgb(12,14,16) 58.82%,
rgb(12,14,16) 64.71%,
rgb(12,14,16) 70.59%,
rgb(12,14,16) 76.47%,
rgb(12,14,16) 82.35%,
rgb(12,14,16) 88.24%,
rgb(12,14,16) 94.12%,
rgb(7,8,8) 100%);
    
    border-radius: 3px;
    border-width: 1px;
    box-shadow: inset 0 1px  rgb(79,83,85),
                inset 0 -1px  rgb(79,83,85),
                inset 1px 0  rgb(79,83,85),
                inset -1px 0px  rgb(79,83,85);
    //box-shadow: inset 0 1px $panel_hc, inset 0 -1px $panel_hc, inset 1px 0 $panel_hc, inset -1px 0 $panel_hc;
    border-color: $panel_border;
    text-shadow: none;
    color:$panel_fg;
    }

    &:checked,
    &:checked:hover,
    &:hover:active,
    &.flat:checked,
    &.flat:hover:active,
    &.toggle:checked,
    &.toggle:checked:hover,
    &.toggle:hover:active,
    &.flat.toggle:checked,
    &.flat.toggle:checked:hover,
    &.flat.toggle:hover:active {

    background-image: linear-gradient(to bottom, 
rgb(32,35,37) 0%,
rgb(33,36,39) 5.88%,
rgb(35,38,41) 11.76%,
rgb(38,40,44) 17.65%,
rgb(40,45,50) 23.53%,
rgb(43,51,57) 29.41%,
rgb(45,60,66) 35.29%,
rgb(48,71,79) 41.18%,
rgb(50,85,95) 47.06%,
rgb(12,25,31) 52.94%,
rgb(12,30,39) 58.82%,
rgb(12,38,51) 64.71%,
rgb(12,52,73) 70.59%,
rgb(12,74,117) 76.47%,
rgb(12,118,227) 82.35%,
rgb(12,234,255) 88.24%,
rgb(7,78,111) 94.12%,
rgb(7,8,8) 100%);
    
    border-radius: 3px;
    border-width: 1px;
    box-shadow: inset 0 1px  rgb(79,83,85),
                inset 0 -1px  rgb(79,83,85),
                inset 1px 0  rgb(79,83,85),
                inset -1px 0px  rgb(79,83,85);
    //box-shadow: inset 0 1px $panel_hc, inset 0 -1px $panel_hc, inset 1px 0 $panel_hc, inset -1px 0 $panel_hc;
    border-color: $panel_border;
    text-shadow: none;
    color:$panel_fg;
    }


    &:hover,
    &.flat:hover,
    &.toggle:hover,
    &.flat.toggle:hover {
        background-image: linear-gradient(to bottom, 
rgb(32,35,37) 0%,
rgb(33,37,39) 5.88%,
rgb(35,39,41) 11.76%,
rgb(38,41,44) 17.65%,
rgb(40,44,47) 23.53%,
rgb(43,47,50) 29.41%,
rgb(45,50,53) 35.29%,
rgb(48,53,56) 41.18%,
rgb(50,55,58) 47.06%,
rgb(12,14,16) 52.94%,
rgb(12,14,16) 58.82%,
rgb(12,14,16) 64.71%,
rgb(12,14,16) 70.59%,
rgb(12,14,16) 76.47%,
rgb(12,14,16) 82.35%,
rgb(12,14,16) 88.24%,
rgb(12,14,16) 94.12%,
rgb(7,8,8) 100%);
    border-radius: 3px;
    border-width: 1px;
    border-top-color: rgb(12,234,255);
    border-bottom-color: rgb(12,234,255);
    box-shadow: inset 0 1px  lighten($bg_color,10%),
                inset 0 -1px  rgb(12,234,255),
                inset 1px 0  rgb(79,83,85),
                inset -1px 0px  rgb(79,83,85);
    //box-shadow: inset 0 1px $panel_hc, inset 0 -1px $panel_hc, inset 1px 0 $panel_hc, inset -1px 0 $panel_hc;
    border-color: $panel_border;
    text-shadow: none;
    color:$panel_fg;

    } 
}


/* Classic icon style */
.mate-panel-menu-bar {
    -PanelMenuBar-icon-visible: true;
}

na-tray-applet {
    background-image: none;
    background-color: transparent;
    padding: 0;
    text-shadow: none;
    -NaTrayApplet-icon-padding: 3;
    -NaTrayApplet-icon-size: 16;
}

/* clock-applet */
.mate-panel-menu-bar #PanelApplet #clock-applet-button.flat.toggle {
 &,&:hover {
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    box-shadow: none;
}

&:checked,
&:checked:hover {
    background-image: linear-gradient(to bottom, 
                    darken($panel_bg_button, 20%) , 
                    darken($panel_bg_button, 30%) 50%, 
                    darken($panel_bg_button, 60%));
    
    border-radius: 0;
    border-width: 1px;
    box-shadow: inset 0 1px $panel_hc, inset 0 -1px $panel_hc, inset 1px 0 $panel_hc, inset -1px 0 $panel_hc;
    border-color: $panel_border;
    text-shadow: none;
    color:$panel_fg;
}
}

/* volume applet, brightness applet */
.mate-panel-applet-slider {
    background: transparent;
& .frame {
    /*background-color: @theme_bg_color;*/
    border-image: none;
    border-style: solid;
    border-radius:2px;
    padding: 0px;
    margin: 0px;
    }

& .frame .frame{
    background-color:transparent;
    border-style: none;
    }

& .frame .button {
    color: $panel_fg;
   }

}


  .xfce4-panel.background {
    background-color: $panel_bg;
    box-shadow:  inset 0 4px #286add, inset 0 3px #307be5, inset 0 1px #3888e9, inset 0 -3px #235bd9, inset 0 -2px #1e50c4, inset 0 -1px #1941a5;
    color: #fff; }

    #sn-button,
    #indicator-button {
    box-shadow:  inset 0 4px #286add, inset 0 3px #307be5, inset 0 1px #3888e9, inset 0 -3px #235bd9, inset 0 -2px #1e50c4, inset 0 -1px #1941a5;
    }

   .xfce4-panel label {
    color: #fff; }

    .xfce4-panel .tasklist .toggle {
     background-image: linear-gradient(to bottom, 
                    #4790f4, 
                    #397df3 30%, 
                    #3679f1);
    
    border-radius: 3px;
    border-width: 1px;
    box-shadow: none;
    //box-shadow: inset 0 1px $panel_hc, inset 0 -1px $panel_hc, inset 1px 0 $panel_hc, inset -1px 0 $panel_hc;
    border-color: $panel_border;
    text-shadow: none;
    color:$panel_fg; }


    .xfce4-panel .tasklist .toggle:hover,
 {
    background-image: linear-gradient(to bottom, 
                    #8ec6ff , 
                    #5ea9ff 20%, 
                    #569fff 80%,
                    #267eff);
    border-radius: 3px;
    border-width: 1px;
    box-shadow: none;
    //box-shadow: inset 0 1px $panel_hc, inset 0 -1px $panel_hc, inset 1px 0 $panel_hc, inset -1px 0 $panel_hc;
    border-color: $panel_border;
    text-shadow: none;
    color:$panel_fg;

    } 

    .xfce4-panel .tasklist .toggle:checked,
    .xfce4-panel .tasklist .toggle:checked:hover,
    .xfce4-panel .tasklist .toggle:hover:active,
    .xfce4-panel .tasklist .toggle:checked {

    background-image: linear-gradient(to bottom, 
                    #16459f , 
                    #184dae 5%, 
                    #1b51b8 80%,
                    #2156b7);
    
    border-radius: 3px;
    border-width: 1px;
    box-shadow: none;
    //box-shadow: inset 0 1px $panel_hc, inset 0 -1px $panel_hc, inset 1px 0 $panel_hc, inset -1px 0 $panel_hc;
    border-color: #16459f;
    text-shadow: none;
    color:$panel_fg;
    }

   