/****************
 * color scheme *
 ****************/

$theme_base_color: $base_color;

$theme_bg_color: $bg_color;
$theme_fg_color: $fg_color;

$theme_selected_bg_color: $selected_bg_color;
$theme_selected_fg_color: $selected_fg_color;

$theme_tooltip_bg_color: #f5f5b5;
$theme_tooltip_fg_color: $fg_color;

$theme_text_color: $text_color;

$visited_link_color: #551a8b;

/***************
 * core colors *
 ***************/

/* Core colors are only used in the current file, as bases for other
   color declarations. */

$core_color_a: #a4c2e8; /* Core color for blue widgets in TraditionalOK. */
$core_color_b: #edeceb; /* Core color for gray widgets in TraditionalOK. */

/********************************************
 * End of configuration for color variants. *
 ********************************************/

/***********
 * general *
 ***********/

$insensitive_bg_color: $theme_bg_color;
$insensitive_fg_color: darken($core_color_b, 50%);
$insensitive_text_shadow_color: $theme_base_color;

$internal_element_color: $theme_text_color;
$internal_element_hover_color: $theme_text_color;
$internal_element_insensitive_color: $insensitive_fg_color;

$theme_unfocused_bg_color: $theme_bg_color;

/* border */

$border_color: gtkshade($core_color_b, 0.67);
$focus_border_color: mix(#acacac,$core_color_a, 50%);
$insensitive_border_color: gtkshade($core_color_b, 0.79);

/***********
 * menubar *
 ***********/

$menubar_gradient_a: gtkshade($core_color_b, 0.99);
$menubar_gradient_b: gtkshade($core_color_b, 0.98);
$menubar_gradient_c: gtkshade($core_color_b, 0.96);

/* hover */

$menubar_menuitem_hover_color: $theme_selected_fg_color;
$menubar_menuitem_hover_border_color: gtkshade($core_color_a, 0.58);

$menubar_menuitem_hover_gradient_a: $core_color_a;
$menubar_menuitem_hover_gradient_b: gtkshade($core_color_a, 0.95);
$menubar_menuitem_hover_gradient_c: gtkshade($core_color_a, 0.93);
$menubar_menuitem_hover_gradient_d: gtkshade($core_color_a, 0.88);


/**********
 * button *
 **********/

$button_gradient_a: gtkshade($core_color_b, 1.07);
$button_gradient_b: gtkshade($core_color_b, 1.06);
$button_gradient_c: gtkshade($core_color_b, 1.04);
$button_gradient_d: gtkshade($core_color_b, 0.98);

$button_default_border_color: #6699CC;
$button_default_box_shadow_color: #336699;

/* hover */

$button_hover_gradient_a: $theme_base_color;
$button_hover_gradient_b: gtkshade($core_color_b, 1.05);
$button_hover_gradient_c: $core_color_b;

/* active */

$button_active_text_color: $theme_fg_color;

$button_active_gradient_a: gtkshade($core_color_b, 0.85);
$button_active_gradient_b: gtkshade($core_color_b, 0.90);
$button_active_gradient_c: gtkshade($core_color_b, 0.91);
$button_active_gradient_d: gtkshade($core_color_b, 0.86);
$button_active_gradient_e: gtkshade($core_color_b, 0.84);
$button_active_gradient_f: gtkshade($core_color_b, 0.80);

/* insensitive */

$button_insensitive_inner_border_color: gtkshade($core_color_b, 1.05);

$button_insensitive_gradient_a: gtkshade($core_color_b, 1.04);
$button_insensitive_gradient_b: gtkshade($core_color_b, 1.01);
$button_insensitive_gradient_c: gtkshade($core_color_b, 0.99);
$button_insensitive_gradient_d: gtkshade($core_color_b, 0.96);

/* active insensitive */

$button_active_insensitive_gradient_a: gtkshade($core_color_b, 0.98);
$button_active_insensitive_gradient_b: gtkshade($core_color_b, 1.02);
$button_active_insensitive_gradient_c: gtkshade($core_color_b, 1.03);
$button_active_insensitive_gradient_d: gtkshade($core_color_b, 1.01);
$button_active_insensitive_gradient_e: gtkshade($core_color_b, 0.99);
$button_active_insensitive_gradient_f: gtkshade($core_color_b, 0.96);

/* primary toolbar focus */

$pt_button_focus_gradient_a: mix(#fafafa, $core_color_a, 30%);
$pt_button_focus_gradient_b: mix(#ededed, $core_color_a, 30%);
$pt_button_focus_gradient_c: mix(#e8e8e8, $core_color_a, 25%);
$pt_button_focus_gradient_d: mix(#e8e8e8, $core_color_a, 30%);

/* primary toolbar focus hover */

$pt_button_focus_hover_gradient_a: mix(#fcfcfc, $core_color_a, 15%);
$pt_button_focus_hover_gradient_b: mix(#fcfcfc, $core_color_a, 15%);
$pt_button_focus_hover_gradient_c: mix(#fcfcfc, $core_color_a, 20%);
$pt_button_focus_hover_gradient_d: mix(#e8e8e8, $core_color_a, 20%);

/*****************
 * color chooser *
 *****************/

$color_swatch_border_color: $border_color;
$color_swatch_hover_border_color: $menubar_menuitem_hover_border_color;

$color_active_badge_light_border_color: $theme_fg_color;
$color_active_badge_light_color: $color_active_badge_light_border_color;

$color_active_badge_dark_border_color: $theme_base_color;
$color_active_badge_dark_color: $color_active_badge_light_border_color;

/*****************
 * column-header *
 *****************/

$column_header_border_top_color: $theme_base_color;
$column_header_border_right_color: gtkshade($core_color_b, 0.82);
$column_header_border_bottom_color: gtkshade($core_color_b, 0.70);
$column_header_border_left_color: $column_header_border_top_color;

$column_header_button_gradient_a: gtkshade($core_color_b, 1.05);
$column_header_button_gradient_b: gtkshade($core_color_b, 1.02);
$column_header_button_gradient_c: $core_color_b;
$column_header_button_gradient_d: gtkshade($core_color_b, 0.96);

/*********
 * entry *
 *********/

$entry_text_color: $theme_text_color;

$entry_inner_border_color: gtkshade($core_color_b, 0.96);
$entry_bg_color: $theme_base_color;

/* insensitive */

$entry_insensitive_inner_border_color: gtkshade($core_color_b, 0.97);
$entry_insensitive_bg_color: $insensitive_bg_color;

/************
 * expander *
 ************/

$expander_row_selected_border_color: mix(#acacac, $core_color_a, 30%);

/*****************
 * fallback mode *
 *****************/

$os_chrome_bg_color: $theme_bg_color;
$os_chrome_fg_color: $theme_fg_color;

/* gnome-panel */

$applet_frame_bg_color: gtkshade($core_color_b, 0.89);
$pager_bg_color: gtkshade($core_color_b, 0.97);

/*******************************
 * info/question/error/warning *
 *******************************/

$info_bg_color: $theme_tooltip_bg_color;
$info_fg_color: $theme_fg_color;

$question_bg_color: mix(#727272, $core_color_a, 95%);
$question_fg_color: $theme_base_color;

$error_color: #cc0000;
$error_bg_color: mix(#ababab, $error_color, 78%);
$error_fg_color: $theme_base_color;

$warning_bg_color: #faad3d;
$warning_fg_color: $theme_fg_color;

/********
 * menu *
 ********/

$menu_bg_color: gtkshade($theme_bg_color, 1.04);
$menu_fg_color: $theme_fg_color;

/* Example: submenu arrow. */
$menu_controls_color: $theme_fg_color;

$menu_border_color: gtkshade($core_color_b, 0.72);
$menu_separator_color: $menu_border_color;


/************
 * notebook *
 ************/

$notebook_bg_color: gtkshade($core_color_b, 1.02);

$notebook_tab_inner_border_color: gtkshade($core_color_b, 1.04);

$notebook_tab_gradient_a: gtkshade($core_color_b, 0.97);
$notebook_tab_gradient_b: gtkshade($core_color_b, 0.92);
$notebook_tab_gradient_c: gtkshade($core_color_b, 0.90);
$notebook_tab_gradient_d: gtkshade($core_color_b, 0.86);

/* active tab */

$notebook_active_tab_border: $menubar_menuitem_hover_border_color;

$notebook_active_tab_strip_gradient_a: gtkshade($core_color_a, 1.05);
$notebook_active_tab_strip_gradient_b: gtkshade($core_color_a, 0.94);
$notebook_active_tab_strip_border_bottom_color: mix(#727272, $core_color_a, 65%);
$notebook_active_tab_gradient_a: gtkshade($core_color_b, 1.07);
$notebook_active_tab_gradient_b: $notebook_bg_color;

/*******
 * osd *
 *******/

$osd_highlight: #ffffff;
$osd_lowlight: #525252;
$osd_base: #212526;
$osd_base_backdrop: gtkshade($osd_base, 1.40);

$osd_fg: #ededed;
$osd_bg: gtkalpha($osd_base, 0.8);
$osd_bg_backdrop: gtkalpha($osd_base_backdrop, 0.90);

$osd_text_shadow: gtkalpha(black, 0.75);

$osd_toolbar_bg_a: gtkalpha($osd_base, 0.50);
$osd_toolbar_bg_b: gtkalpha(#101010, 0.50);
$osd_toolbar_bg_c: gtkalpha(gtkshade($osd_base, 1.02), 0.50);

$osd_button_bg_a: gtkalpha($osd_highlight, 0.16);
$osd_button_bg_b: gtkalpha($osd_lowlight, 0.05);
$osd_button_bg_c: gtkalpha($osd_highlight, 0.12);

$osd_button_bg_insensitive: gtkalpha($osd_bg, 0.25);
$osd_button_bg_insensitive_active: gtkalpha($osd_bg, 0.16);

$osd_button_bg_hover_a: gtkalpha($osd_highlight, 0.28);
$osd_button_bg_hover_b: gtkalpha($osd_lowlight, 0.14);
$osd_button_bg_hover_c: gtkalpha($osd_highlight, 0.14);

$osd_button_bg_active_a: gtkalpha(black, .9);
$osd_button_bg_active_b: gtkalpha(black, 0.4);
$osd_button_bg_active_c: gtkalpha(black, 0);

$osd_button_bg_backdrop: gtkalpha($osd_bg, 0.18);
$osd_button_bg_backdrop_hover: gtkalpha($osd_bg, 0.25);
$osd_button_bg_backdrop_active: gtkalpha($osd_bg, 0.35);
$osd_button_bg_backdrop_insensitive: gtkalpha($osd_bg, 0.08);

$osd_button_fg_backdrop: gtkshade($osd_fg, 0.70);
$osd_button_fg_backdrop_active: gtkshade($osd_fg, 0.95);

$osd_button_fg: gtkshade($osd_fg, 0.80);
$osd_button_fg_hover: gtkshade($osd_fg, 0.96);
$osd_button_fg_active: gtkshade($osd_fg, 1.10);
$osd_button_fg_insensitive: gtkshade($osd_fg, 0.70);

$osd_button_border: gtkalpha($osd_highlight, 0.40);
$osd_button_border_active: gtkalpha($osd_highlight, 0.8);
$osd_button_inset: gtkshade($osd_fg, 0.67);
$osd_button_shadow: gtkalpha(black, 0.35);

$osd_trough_bg: gtkalpha($osd_button_fg, 0.10);
$osd_scale_trough_bg_color: gtkalpha(gtkshade($core_color_b, 0.35), 0.4);
$osd_scale_trough_highlight_bg_color: gtkalpha(gtkshade($core_color_a, 1.00), 0.4);

$osd_view_bg: gtkalpha($osd_bg, 0.60);
$osd_view_bg_backdrop: gtkalpha($osd_bg_backdrop, 0.60);

$osd_scrollbar_trough: gtkshade($osd_base, 1.70);
$osd_scrollbar_trough_backdrop: gtkshade($osd_base_backdrop, 1.40);

$osd_scrollbar_slider: gtkshade($osd_scrollbar_trough, 1.50);
$osd_scrollbar_slider_prelight: gtkshade($osd_scrollbar_trough, 1.80);
$osd_scrollbar_slider_active: gtkshade($osd_scrollbar_trough, 2.10);
$osd_scrollbar_slider_backdrop: gtkshade($osd_scrollbar_trough_backdrop, 1.50);

/***************
 * progressbar *
 ***************/

$progressbar_border_color:  $core_color_a;
$progressbar_pattern_color: $progressbar_border_color;

$progressbar_bg_color: $core_color_a;

$progressbar_gradient_a: $progressbar_bg_color;
$progressbar_gradient_b: $menubar_menuitem_hover_gradient_b;
$progressbar_gradient_c: $menubar_menuitem_hover_gradient_c;
$progressbar_gradient_d: $menubar_menuitem_hover_gradient_d;

/*********
 * scale *
 *********/

$scale_mark_color: $border_color;

$scale_trough_border_color: gtkshade($core_color_b, 0.56);
$scale_trough_bg_color: gtkshade($core_color_b, 0.90);

/* trough highlight */

$scale_trough_highlight_border_color: mix(#2b2b2b, $core_color_a, 80%);
$scale_trough_highlight_bg_color: gtkshade($core_color_a, 0.92);

/* trough insensitive */

$scale_trough_insensitive_border_color: $insensitive_border_color;
$scale_trough_insensitive_bg_color: gtkshade($core_color_b, 0.97);

/* trough highlight insensitive */

$scale_trough_highlight_insensitive_border_color: mix(#6a6a6a, $core_color_a, 80%);
$scale_trough_highlight_insensitive_bg_color: gtkshade($core_color_a, 1.20);

/*************
 * scrollbar *
 *************/

/* junction */

$scrollbars_junction_bg_color: $theme_bg_color;

/* trough */

$scrollbar_trough_border_color: gtkshade($core_color_b, 0.67);

$scrollbar_trough_gradient_a: gtkshade($core_color_b, 0.86);
$scrollbar_trough_gradient_b: gtkshade($core_color_b, 0.90);

/* slider */

$scrollbar_slider_bg_color: gtkshade($core_color_a, 0.99);

$scrollbar_slider_gradient_a: $scrollbar_slider_bg_color;
$scrollbar_slider_gradient_b: gtkshade($core_color_a, 0.96);
$scrollbar_slider_gradient_c: gtkshade($core_color_a, 0.92);
$scrollbar_slider_gradient_d: gtkshade($core_color_a, 0.88);

$scrollbar_slider_border_color: mix(#000000, $core_color_a, 0.72);

$scrollbar_slider_inner_border_color: gtkshade($core_color_a, 1.04);

/* slider hover */

$scrollbar_slider_hover_bg_color: gtkshade($core_color_a, 1.03);

$scrollbar_slider_hover_gradient_a: $scrollbar_slider_hover_bg_color;
$scrollbar_slider_hover_gradient_b: gtkshade($core_color_a, 0.99);
$scrollbar_slider_hover_gradient_c: gtkshade($core_color_a, 0.96);
$scrollbar_slider_hover_gradient_d: gtkshade($core_color_a, 0.91);

/* button */

$scrollbar_button_color: $theme_fg_color;
$scrollbar_button_insensitive_color: $internal_element_insensitive_color;
$scrollbar_button_border_color: gtkshade($core_color_b, 0.56);

$scrollbar_button_gradient_a: gtkshade($core_color_b, 1.07);
$scrollbar_button_gradient_b: gtkshade($core_color_b, 1.02);
$scrollbar_button_gradient_c: gtkshade($core_color_b, 0.99);
$scrollbar_button_gradient_d: gtkshade($core_color_b, 0.95);

/* button hover */

$scrollbar_button_hover_gradient_a: gtkshade($core_color_b, 1.07);
$scrollbar_button_hover_gradient_b: gtkshade($core_color_b, 1.05);
$scrollbar_button_hover_gradient_c: gtkshade($core_color_b, 1.02);
$scrollbar_button_hover_gradient_d: gtkshade($core_color_b, 0.97);

/* button active */

$scrollbar_button_active_gradient_a: gtkshade($core_color_b, 0.95);
$scrollbar_button_active_gradient_b: gtkshade($core_color_b, 0.92);
$scrollbar_button_active_gradient_c: gtkshade($core_color_b, 0.89);
$scrollbar_button_active_gradient_d: gtkshade($core_color_b, 0.85);

/***********
 * sidebar *
 ***********/

$sidebar_bg_color: $theme_base_color;
$gtkassistant_sidebar_border_color: $border_color;

/**************
 * spinbutton *
 **************/

$spinbutton_border_color: $border_color;

/**********
 * switch *
 **********/

$switch_color: gtkshade($core_color_b, 0.45);

$switch_slider_border_color: $progressbar_border_color;

$switch_slider_bg_color: $scrollbar_slider_bg_color;

$switch_slider_gradient_a: $switch_slider_bg_color;
$switch_slider_gradient_b: $scrollbar_slider_gradient_b;
$switch_slider_gradient_c: $scrollbar_slider_gradient_c;
$switch_slider_gradient_d: $scrollbar_slider_gradient_d;

/* active */

$switch_trough_active_color: $theme_base_color;

$switch_trough_active_gradient_a: $menubar_menuitem_hover_border_color;
$switch_trough_active_gradient_b: gtkshade($core_color_a, 1.12);

/* insensitive */

$switch_slider_insensitive_bg_color: $button_insensitive_gradient_a;

$switch_slider_insensitive_gradient_a: $switch_slider_insensitive_bg_color;
$switch_slider_insensitive_gradient_b: $button_insensitive_gradient_b;
$switch_slider_insensitive_gradient_c: $button_insensitive_gradient_c;
$switch_slider_insensitive_gradient_d: $button_insensitive_gradient_d;

/***********
 * toolbar *
 ***********/

$toolbar_border_top_color: gtkshade($core_color_b, 0.82);
$toolbar_inner_border_color: $theme_base_color;
$toolbar_border_bottom_color: $toolbar_border_top_color;

$toolbar_gradient_a: gtkshade($core_color_b, 1.04);
$toolbar_gradient_b: gtkshade($core_color_b, 1.01);
$toolbar_gradient_c: $core_color_b;
$toolbar_gradient_d: gtkshade($core_color_b, 0.97);

/***********
 * tooltip *
 ***********/

$theme_tooltip_border_color: gtkshade($theme_tooltip_bg_color, 0.60);

/**********
 * trough *
 **********/

$trough_gradient_a: gtkshade($core_color_b, 0.81);
$trough_gradient_b: gtkshade($core_color_b, 0.90);

/************************
 * overshoot/undershoot *
 ************************/

$overshoot_bg_color: gtkalpha ($theme_selected_bg_color, 0.15);
$overshoot_backdrop_bg_color: $theme_selected_bg_color;

/**********
 * WM *
 **********/

$wm_shadow: gtkalpha(black, 0.5);
$wm_border: gtkalpha(black,0.18);
$wm_bg_a: gtkshade($theme_bg_color, 1.05);
$wm_bg_b: $theme_bg_color;
$wm_csd_solid_border_color: gtkshade($theme_selected_bg_color, 0.55);